.body{
 display: inline-block;
 border: solid black 2px;   
}
.w{
    background-color: white;
    height: 230px;
    width: 450px;
}
.g{
    background-color: green;
    height: 230px;
    width: 330px;
    position: absolute;
    top: 10px;
    left: 130px;

}
img{
    height: 120px;
    position: absolute;
    left: 100px;
    top: 50px;
}